.juegoContainer{
    width: 600px;
    margin: auto;
}

.ahorcadoContainer{
    height: 366px;
    position: relative;
    margin-bottom: 20px;
}

.img1{
    position: absolute;
    bottom: 5px;
    left: 150px;
}

.img2{
    left: 220px;
    right: 5px;
    position: absolute;
}

.img3{
    position: absolute;
    left: 220px;
}

.img4{
    position: absolute;
    left: 396px;
}

.img5{
    position: absolute;
    left: 367px;
    top: 45px;
}

.img6{
    position: absolute;
    left: 396px;
    top: 106px;
}

.img7{
    position: absolute;
    left: 361px;
    top: 107px;
}

.img8{
    position: absolute;
    left: 398px;
    top: 107px;
}

.img9{
    position: absolute;
    left: 362px;
    top: 238px;
}

.img10{
    position: absolute;
    left: 397px;
    top: 238px;
}

.letrasContainer{
    /* margin-bottom: 50px; */
}

.letrasAhorcado{
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.inputLetra{
    text-align: center;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: #0A3871;
    font-size: 32px;
    width: 40px;
}

.espacioAbajo{
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.lineaAbajo{
    width: 80px;
    margin: 0 5px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #0A3871;
}

.letrasMalas{
    text-align: center;
    padding: 20px 10px;
    font-size: 24px;
    color: #495057;
    letter-spacing: 10px;
}

.btnsJuegoOpciones{
    display: flex;
    justify-content: space-between;
}

.btnsJuegoOpciones a{
    width: 48%;
}

.btnNuevoJuego{
    padding: 20px;
    width: 100%;

    background: #0A3871;
    color: white;
}

.btnDesistir{  
    padding: 20px; 
    width: 48%;

    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #0A3871;
}